@import url(https://fonts.googleapis.com/css?family=Play);
* { margin:0;padding:0;box-sizing:border-box; }

body {
	color:rgb(60,60,60);
	font-family: 'Play', sans-serif;
	text-align: center;
}

nav {
	height: 2em;
	width:100%;
	text-align: center;
	text-transform: lowercase;
	font-size: 1em;
}

a:link{
  text-decoration: none!important;
  color: rgb(60,60,60);
}

nav ul {
	padding: 1em;
	margin: 0 auto;
	width: 100%;
	height: 2em;
}

nav li {
	float: left;
	display: inline;
}

nav a {
Â Â Â Â display: inline-block;
Â Â Â Â width: 500px;
	margin: 2em;
Â Â Â Â text-align: center;
Â Â Â Â line-height: 2em;
}

nav a:hover, nav a:active {
    color: rgb(255,255,255);
}

/*nav a#pull {
    display: none; 
}*/
section {
	border:1px solid #000;
	padding:5em 0 5em 0;
}

section.splash {
	background: url("file:///Users/Greg/Desktop/gyoung24.github.io/unit_8/css/images/sailboat_hp.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	color:#000000;
	height:100vh;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 2.75em;
	font-family: 'Play', serif;
	margin-top: 2.5em;
	color: rgb(60,60,60);
}

button.my_photos {
	display: block;
	padding: 9px 27px 9px 27px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	vertical-align: middle;
	font-family: 'Play', sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin: 0 auto;
	margin-top: 10px;
	width: 150px;
	color: rgb(60,60,60);
}

button:hover {
	background-color: rgba(60,60,60,0.5);
	color: rgb(255,255,255);
}

.slogan{
	font-size: 40px;
	font-style: normal;
	font-family: 'Play', sans-serif;
	margin-top: 200px;
	margin-bottom: 10px;
	text-align: center; 
	text-transform: lowercase;
	color: rgb(60,60,60);
}

p {
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	text-transform: lowercase;
	color: rgb(60,60,60);
}

#mission {
	text-align: left;
	float: left;
	width: 50%;
	padding-left: 1em;
	display: inline-block;
	overflow: auto;
	clear: left;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 1em;
}

#works {
	background-color: white;
}

.c1 img {
	display: inline-block;
	width: 100%;
	height: 20%;
	} 


.c2 img {
	display: inline-block;
	width: 100%;
	height: 20%;
}

.c3 img {
	display: inline-block;
	width: 100%;
	height: 20%;
}

h2 {
	padding: 1em;
	font-size: 2em;
	font-weight: bolder;
}

h3 {
	text-align: center;
	padding: 1em;
}
.contact {
	padding: 1em;
}

.clearfix:before,
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
.clearfix {
	*zoom: 1;
}
@media only screen and (min-width: 650px) and (max-width: 1280px) {
	#splash {
		background-image: url("file:///Users/Greg/Desktop/gyoung24.github.io/unit_8/css/images/sailboat_hp.jpg");
		height: 100%;
	}

	nav {
		font-size: 1em;
		color: #000000;
		text-decoration: none;
		list-style: none;
	}

	nav li {
		float: none;
	}

	nav a:hover, nav a:active {
    	color: #999999;
	}

	h1 {
		font-size:3em;
		margin-top: 4.5em;
	}

	#slogan {
		font-size: 2.5em;
	}

footer {
	clear: both;
}

}
@media only screen and (min-device-width : 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
	#splash {
		background-image: url("file:///Users/Greg/Desktop/gyoung24.github.io/unit_8/css/images/sailboat_hp.jpg");
		height: 10%;
		width: 100%;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment:fixed;
	}


	nav {
		font-size: 1em;
		color: black;
		text-decoration: none;
	}

	nav a:hover, nav a:active {
    	color: #999999;
	}

	nav a#pull {
    	display: none;
	}  

	h1 {
		font-size: 2em;
		color: #000000;
		text-decoration: none;
		list-style: none;
		margin-top: 7em;
	}

	nav li {
		float: none;
	}

	nav {
		font-size: 1em;
	}

	#slogan {
		font-size: 1.5em;
	}

	#mission {
		font-size: 1em;
	}
	
	.bulletpoint {
		font-size: 1em;
		padding-left: 2em;
	}
}
