@import url(https://fonts.googleapis.com/css?family=Play);
body {
	background: url("http://bit.ly/22KJnc7");
	background-size: cover;
	color: rgb(255,255,255);
	font-family: 'Play', sans-serif;
}
#cover {
	width: 1000px;
	height: 500px;
	display: block;
	margin: 0 auto;
	z-index: -1;
}
#slogan {
	font-size: 40px;
	font-style: normal;
	margin: 0 auto;
	margin-bottom: 10px; 
}
h1 {
	font-size: 25px;
	margin: 0 0 0 20px;
}
p {
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
button {
	display: block;
	padding: 9px 27px 9px 27px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	vertical-align: middle;
	font-family: 'Play', sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 150px;
	color: rgb(255,255,255);
}
button:hover {
	background-color: rgba(60,60,60,0.5);
}
#my_photos {
	padding: 9px 27px 9px 27px;
	text-align: center;
	font-family: 'Play', sans-serif;
	font-weight: bold;
}
#email {
	color: rgb(255,255,255);
}
